@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: purple;
}

.header {
    color: wheat;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
    margin: 0;
}

.header h1,
.header p {
    margin: 0 0 10px 0;
}

.container {
    display: flex;
    max-width: 100%;
    margin: auto;
}

.work-education {
    flex-basis: 60%;
}

.work-info {
    margin-bottom: 20px;
    margin-right: 10px;
}

.work-info h2,
.education h2 {
    padding-bottom: 5px;
    border-bottom: 3px solid #D3D3D3;
}

.work-place {
    font-size: 16px;
    font-family: oblique;
}

.work-duties {
    padding-left: 15px;
}

.education {
    margin-right: 10px;
}

.education p {
    margin: auto;
    padding-bottom: 10px;
}

.work-el,
.education-el {
    display: flex;
}

.work-el:not(:last-child),
.education-el:not(:last-child) {
    margin-bottom: 10px;
}

.work-period,
.education-period {
    flex-basis: 20%;
}

.work,
.university {
    flex-basis: 80%;
}

.personal__info {
    flex-basis: 40%;
    padding: 0 10px;
    background-color: #efe8e8dd;
}

.personal__info__item:not(:last-child) {
    margin-bottom: 24px;
}

.personal__info__item h2 {
    border-bottom: 3px solid #D3D3D3;
    padding-bottom: 5px;
}

.contacts__item:not(:last-child) {
    margin-bottom: 10px;
}

.checked {
    color: orange;
}

.fa {
    margin-left: 10px;
}